In [1]:
# importing dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
#Reading the  csv file

sales_data = os.path.join("../data/Sales_by_model.csv")
sales_df = pd.read_csv(sales_data, skipinitialspace = True, low_memory=False)
sales_df.head()

  Manufacturer\t2011\t2012\t2013\t2014\t2015\t2016\t2017
0          BMW\t0\t965\t0\t6092\t11896\t13620\t19538
1                BMW \t0\t0\t0\t555\t2265\t1594\t488
2            Cadillac \t0\t0\t6\t1310\t1024\t534\t17
3  Chevrolet \t7671\t23461\t23654\t19950\t18022\t...
4           Fiat \t0\t0\t260\t1503\t4569\t3897\t5380

In [76]:
data_grouped = sales_df.groupby(['Manufacturer']).sum().drop(columns=['TOTAL'])

data_grouped

              2011   2012   2013   2014   2015   2016   2017
Manufacturer
BMW              0    965      0   6092  11896  13620  19538
BMW              0      0      0    555   2265   1594    488
Cadillac         0      0      6   1310   1024    534     17
Chevrolet     7671  23461  23654  19950  18022  27774  20372
Fiat             0      0    260   1503   4569   3897   5380
Ford             0   3057  14981  21947  18923  24767  19589
Honda            0     93   1095    856     65      0      0
Kia              0      0      0    250   1015   1728   2157
Mercedes         0      0      0    774   2024   1182   1207
Mitsubishi      76    588   1029    196    115     94      6
Nissan        9674   9819  22610  30200  17269  14006  11230
Porsche          0      0     51    991   1570   2504   1592
Smart          310    139    923   2594   1387    657    544
Tesla            0   2171  19000  16750  26408  47184  48375
Toyota           0  12749  12088  13264   4191   2474  20936
Toyota           0    192   1005   1184     18      0      0
Volkswagen       0      0      0    357   4232      0   3534
Volvo            0      0      0      0     86   2020    531

In [80]:
data_grouped.to_csv('sales_data.csv', encoding='utf-8')

In [13]:
data_grouped.dtypes

2011     object
2012     object
2013     object
2014     object
2015     object
2016     object
2017     object
TOTAL    object
dtype: object

In [69]:
sales_df.dtypes

Manufacturer    object
2011             int64
2012             int64
2013             int64
2014             int64
2015             int64
2016             int64
2017             int64
TOTAL            int64
dtype: object

In [19]:
porsche = sales_df[sales_df["Manufacturer"] == "Porsche"]["2013"]
porsche

17    51
18     0
Name: 2013, dtype: object

In [21]:
type (porsche)

pandas.core.series.Series

In [24]:
porsche[17]+porsche[18]

'510'

In [25]:
porsche.infer_objects()

17    51
18     0
Name: 2013, dtype: object

In [31]:
p = pd.to_numeric(porsche)

In [32]:
p[17]+p[18]

51

In [44]:
type (p)

pandas.core.series.Series

In [64]:
df = sales_df.infer_objects()

In [67]:
df.dtypes

Manufacturer    object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
TOTAL           object
dtype: object